<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equirgb(30, 153, 210)e" content="IE=edge" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/product.css" />
    <!-- font awesome -->
   
  </head>
<body>
  <div class="body">
    <nav>
   
      <ul>
        <li><a href="/user/products">HOME</a></li>
        <li><a href="/home/login">LOGIN</a></li>
        <li><a href="/home/signup">REGISTER</a></li>
      </ul>
      </nav>
    
    <div class="category">
      <p class="label">CATEGORY</p>
      <select id="selectBox" onchange="changeFunc();">
        <option value="ALL"></option>
        <option value="SHOE">SHOE</option>
        <option value="COSMOTICS">COSMOTICS</option>
        <option value="ELECTRONICS">ELECTRONICS</option>
        <option value="CLOTHS">CLOTHS</option>
        <option value="ALL">ALL PRODUCTS</option>
       </select>
       <div class="gender">
        <input type="button"  value="For Men" onclick="MEN()">
        <input type="button" value="For Women" onclick="WOMEN()">
      </div>
    </div>
    
    <div class="products">
     
      <div class="container">
        <h1 class="lg-title">Special products With Offers</h1>
        <p class="text-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          quos sit consectetur, ipsa voluptatem vitae necessitatibus dicta
          veniam, optio, possimus assumenda laudantium. Temporibus, quis cum.
        </p>
       
        <div class="product-items">
          
          <!-- single product -->
          <% if(datas) {%>
          
            <%for(var i=0;i<datas.length;i++){%>
          <div class="product">
            
            <div class="product-content">
              <div class="product-img">
            <a href='/user/buy?picture=<%=datas[i].picture%>&name=<%=datas[i].name%>&price=<%=datas[i].newprice%>'>
                <img id="picture" src="http://localhost:3000/images/product_image/<%=datas[i].picture%>" alt="<%=datas[i].picture%>" />
                
              </div>
              <div class="product-btns">
                <a href='/user/buy?picture=<%=datas[i].picture%>&name=<%=datas[i].name%>&price=<%=datas[i].newprice%>'>
                <button type="button" name="button"  class="btn-cart">
                  add to cart
                 
                  <span><i class="fas fa-plus"></i></span>
                </button>
              </a>
              <a href='/user/buy?picture=<%=datas[i].picture%>&name=<%=datas[i].name%>&price=<%=datas[i].newprice%>'>
                <button type="button" name="button"  class="btn-buy">
                  buy now
                  <span><i class="fas fa-shopping-cart"></i></span>
                </button>
              </a>
              
            
            </div>
            </div>
        

            <div class="product-info">
              <div class="product-info-top">
                <h2 class="sm-title">lifestyle</h2>
                <div class="rating">
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="far fa-star"></i></span>
                  
                </div>
              </div>
              <a href="/index2.html" id="name" class="product-name"
                ><%=datas[i].name%></a
              >
              <p class="product-price"><%=datas[i].oldprice%></p>
              <p id="newprice" class="product-price"><%=datas[i].newprice%></p>
            </div>

            <div class="off-info">
              <h2 class="sm-title">25% off</h2>
            </div>
            
          </div>
             
         
      
          <%}%>
      <%}else{%>
          <%}%>
        </div>
      </form>
      </div>

      
    </div>

    <div class="product-collection">
      <div class="container">
        <div class="product-collection-wrapper">
          <!-- product col left -->
          <div class="product-col-left flex">
            <div class="product-col-content">
              <h2 class="sm-title">men's shoes</h2>
              <h2 class="md-title">men's collection</h2>
              <p class="text-light">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Molestiae consequatur facilis eligendi quibusdam voluptatibus
                exercitationem autem voluptatum, beatae architecto odit,
                quisquam repellat. Deleniti, architecto ab.
              </p>
              <button type="button" class="btn-dark">Shop now</button>
            </div>
          </div>

          <!-- product col right -->
          <div class="product-col-right">
            <div class="product-col-r-top flex">
              <div class="product-col-content">
                <h2 class="sm-title">women's dresses</h2>
                <h2 class="md-title">women's collection</h2>
                <p class="text-light">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Molestiae consequatur facilis eligendi quibusdam voluptatibus
                  exercitationem autem voluptatum, beatae architecto odit,
                  quisquam repellat. Deleniti, architecto ab.
                </p>
                <button type="button" class="btn-dark">Shop now</button>
              </div>
            </div>

            <div class="product-col-r-bottom">
              <!-- left -->
              <div class="flex">
                <div class="product-col-content">
                  <h2 class="sm-title">summer sale</h2>
                  <h2 class="md-title">Extra 50% Off</h2>
                  <p class="text-light">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Molestiae consequatur facilis eligendi quibusdam
                    voluptatibus exercitationem autem voluptatum, beatae
                    architecto odit, quisquam repellat. Deleniti, architecto ab.
                  </p>
                  <button type="button" class="btn-dark">Shop now</button>
                </div>
              </div>
              <!-- right -->
              <div class="flex">
                <div class="product-col-content">
                  <h2 class="sm-title">shoes</h2>
                  <h2 class="md-title">best sellers</h2>
                  <p class="text-light">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Molestiae consequatur facilis eligendi quibusdam
                    voluptatibus exercitationem autem voluptatum, beatae
                    architecto odit, quisquam repellat. Deleniti, architecto ab.
                  </p>
                  <button type="button" class="btn-dark">Shop now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    
   function changeFunc() {
    var selectBox = document.getElementById("selectBox");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
   
  if(selectedValue=="SHOE"){
  fetch(
          "http://localhost:3000/user/products/1",
          {
            method: "GET",

            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
           
          }
        )
          .then((res) => res.text())
          .then((htmlStr) => {
            document.open();
            document.write(htmlStr);
            document.close();
          });
    
  }else if(selectedValue=="COSMOTICS"){
  fetch(
          "http://localhost:3000/user/products/2",
          {
            method: "GET",

            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
           
          }
        )
          .then((res) => res.text())
          .then((htmlStr) => {
            document.open();
            document.write(htmlStr);
            document.close();
          });
    
  }else if(selectedValue=="ELECTRONICS"){
  fetch(
          "http://localhost:3000/user/products/3",
          {
            method: "GET",

            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
           
          }
        )
          .then((res) => res.text())
          .then((htmlStr) => {
            document.open();
            document.write(htmlStr);
            document.close();
          });
    
}else if(selectedValue=="CLOTHS"){
  fetch(
          "http://localhost:3000/user/products/4",
          {
            method: "GET",

            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
           
          }
        )
          .then((res) => res.text())
          .then((htmlStr) => {
            document.open();
            document.write(htmlStr);
            document.close();
          });
    
  }else if(selectedValue=="ALL"){
  fetch(
          "http://localhost:3000/user/products",
          {
            method: "GET",

            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
           
          }
        )
          .then((res) => res.text())
          .then((htmlStr) => {
            document.open();
            document.write(htmlStr);
            document.close();
          });
    
  }



   }
    function MEN() {
       fetch(
          "http://localhost:3000/user/products/10",
          {
            method: "GET",

            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
           
          }
        )
          .then((res) => res.text())
          .then((htmlStr) => {
            document.open();
            document.write(htmlStr);
            document.close();
          });
        }
        function WOMEN() {
       fetch(
          "http://localhost:3000/user/products/20",
          {
            method: "GET",

            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
           
          }
        )
          .then((res) => res.text())
          .then((htmlStr) => {
            document.open();
            document.write(htmlStr);
            document.close();
          });
        }
       
    function go () {
      for(var i=0;i<datas.length;i++){
      // (A) VARIABLES TO PASS
      let price = document.getElementById("newprice").innerHTML,
         name=datas[i].name,
         img=document.getElementById("picture"),
          picture=img.getAttribute("alt");
         
      }
      // (B) URL PARAMETERS
      let params = new URLSearchParams();
      params.append("picture",picture);
      params.append("price", price);
      params.append("name", name);
     
    
      // (C) GO!
      var url = "/user/buy?" + params.toString();
      location.href = url;
      // window.open(url);
    }
    </script>
</body>
</html>
